.ReactModalPortal{
  .ReactModal__Overlay {
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-perspective: 600;
    perspective: 600;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10001;
  }
  
  .ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
  }
  
  .ReactModal__Content {
    -webkit-transform: scale(0.5) rotateX(-30deg);
    z-index: 1050;
  }
  
  .ReactModal__Content--after-open {
    -webkit-transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
  }
  
  .ReactModal__Overlay--before-close {
    opacity: 0;
  }
  
  .ReactModal__Content--before-close {
    -webkit-transform: scale(0.5) rotateX(30deg);
    transition: all 150ms ease-in;
  }
  
  .ReactModal__Content.modal-dialog {
    border: none;
    background-color: transparent;
  }
}

.modal-trans {
  &>.modal-content {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none
  }
}

.modal-dialog {
  transition: transform 100ms ease-in;
  width: auto;
  position: relative;

  &:focus {
    border: none; outline: none; box-shadow: none;
  }
  
  .modal-content{
    .modal-header{
      color: white;
      border-bottom: 1px solid #4f5465;
      font-size: 18px !important;
      border-bottom: none;
      background: #2f3138 !important;
      padding:10px !important;
      .close {
        cursor: pointer;
        color: white;
        font-size: 22px;
        position: absolute;
        right: 8px;
        top: 10px;
      }
    }
    
    .modal-body {
      display: block;
    }
    
    .modal-footer {
      border-top: 1px solid #4e5465 !important; 
      .btn-toolbar{
        margin-top: 0px;
        text-align: center;
        .btn {
          margin: 0px 5px;
        }
      }
      .btn-toolbar-right{
        text-align: right !important;
      }
    }
  }
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 80%;
  }
}
