.container-component-chonjiEditor {
  min-width: 650px;
  position: relative;
  // position: relative;
  // .shortkey-list-button-container {
  //   .shortkey-list-button {
  //     position: absolute;
  //     top: 4px;
  //     right: 7px;
  //     font-size: 12px; 
  //     display: inline-block;
  //     padding: 0 10px;
  //     height: 23px;
  //     border: 1px solid #ccc;
  //     // background: #fafafa;
  //     color: #000;  
  //     text-decoration: none;
  //     vertical-align: middle;
  //     cursor: pointer;
  //     letter-spacing: normal;
  //     word-spacing: normal;
  //     text-transform: none;
  //     text-indent: 0px;
  //     text-shadow: none;
  //     text-rendering: auto;
  //     margin-bottom: 6px;
  //   }
  // }
  .chonji-editor-help-container {
    color: #666;
    position: fixed;
    top: 110px;
    left: calc((100% - 568px) / 2);
    z-index: 2;
    .chonji-editor-help {
      width: 568px;
      padding: 0 10px;
      background: #fafafa;
      border: 1px solid #bcbbbb;
      .close-help-btn-small {
        position: absolute;
        top: 10px;
        right: 12px;
        width: 13px;
        height: 12px;
        font-size: 11px;
        vertical-align: top;
        border: 0;
        cursor: pointer;
        span {
          visibility: hidden;
          overflow: hidden;
          position: absolute;
          top: 0;
          font-size: 0;
          line-height: 0;
        }
      }
      h3 {
        margin: 0 -10px;
        padding: 6px 0 12px 0;
        // background: url(../img/bg_find_h3.gif) repeat-x;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -1px;
        strong{
          display: inline-block;
          padding: 4px 0 3px 11px;
          color: #333;
          letter-spacing: 0;
        }
      }
      .box_help {
        padding: 0 2px;
        margin-top: 8px;
        div {
          overflow: hidden;
          padding: 20px 21px 24px;
          border-top: 1px solid #d0d0d0;
          color: #333;
        }
        strong {
          display: block;
          margin-bottom: 2px;
          font-size: 12px;
        }
        p {
          margin-bottom: 28px;
          line-height: 1.5;
          font-size: 12px;
        }
        ul {
          width: 150%;
          margin-top: 10px;
          margin: 0;
          padding: 0;
        }
        li {
          position: relative;
          float: left;
          width: 252px;
          padding: 5px 0 5px 9px;
          margin-right: 40px;
          border-right: 1px solid #f0f0f0;
          // *zoom: 1;
          line-height: 1;
          font-size: 12px;
          list-style: none;
          span {
            position: absolute;
            top: 4px;
            left: 138px;
            line-height: 1.2;
            font-size: 12px;
          }
        }
      }
      .close-help-btn-div {
        padding: 9px 0 10px;
        text-align: center;
        .close-help-btn {
          width: 39px;
          height: 24px;
          border: 0;
          font-size: 11px;
          vertical-align: top;
          cursor: pointer;
          margin: 0;
          padding: 0;
          span {
            visibility: hidden;
            overflow: hidden;
            position: absolute;
            top: 0;
            font-size: 0;
            line-height: 0;
          }
        }
      }
    }
  }
  div {
    position: relative;
    .shortkey-list-button {
      position: absolute;
      top: 1px;
      right: 0px;
      width: 35px;
      height: 29px;
      line-height: 0;
      border: none;
      border-left: 1px solid #e0dedf;
      border-right: 1px solid #c4c4c4;
      background-color: #f5f5f5;
      i {
        font-size: 14px;
      }
      &:hover {
        background-color: #e0dedf;
      }
    }
    .help-button {
      position: absolute;
      top: 1px;
      // right: 34px;
      right: 49px;
      width: 35px;
      height: 29px;
      line-height: 0;
      border: none;
      border-left: 1px solid #e0dedf;
      border-right: 1px solid #c4c4c4;
      background-color: #f5f5f5;
    }
  }
  .shortkey-list-container-opened {
    display: block;
  }
  .shortkey-list-container-closed {
    display: none;
  }
  .shortkey-list-container {
    margin: 0 0 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background: #f7f7f7;
    text-align: center;
    dl {
      margin: 0 0 5px;
      text-align: left;
      zoom: 1;
      font-size: 11px;
      dt, dd {
        margin: 0;
        padding: 5px 0;
        // border-bottom: 1px solid #e9e9e9;
      }
      dt {
        width: 15%;
        font-weight: bold;
        float: left;
      }
      dd { 
        width: 18%;
        float: left;
      }
    }
    .shortkey-list-close-btn {
      font-size: 11px;
      margin-top: 6px;
      visibility: hidden;
    }
  }
  .smarteditor2 {
    width: 100%; 
    height: 300px; 
    display: none;
  }
  .se2_tool {
    .se2_text_tool {
      background-color: #bcdbff;
    }
  }
}