.container-component-beer-menu-item {
  margin-top: 12px;
  .recent-beer-menu {
    margin-top: 20px;
    .recent-beer-menu-title {
      font-weight: bold;
      font-size: 20px;
    }
    .recent-beer-menu-content {
      margin-left: 10px;
    }
    .type-beer-menu-title {
      font-weight: bold;
      font-size: 20px;
    }
    .type-beer-menu-content {
      margin-left: 10px;
    }
  }
}