.apiform-content {
  .component-MultiCheck {
    .container-component-body {
      .multi-select-body {
        left: unset;
        width: 100%;
      }
    }
    .container-component-NewMultiCheck {
      .input-selected-item-body {
        width: 100%;
      }
    }
  }
}