.container-page-userrightcontent{
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    width: 310px;
    // .commonBorder{
    //     border: 1px solid #cec3b3; 
    //     border-style: solid; 
    //     border-radius: 6px;
    //     background-color: #fff;
    // }
    // .commonBorderMargin{
    //     margin-top: 15px;
    // }
    .margin-top {
        margin-top: 15px;
    }
}