@import './variable';
body {
  background-color: rgb(239, 243, 248);
  height: max-content !important;
  select {
    -webkit-appearance: menulist-button;
  }
  .simple-button {
    padding: 5px 10px;
    cursor: pointer;
  }
  &::-webkit-scrollbar {
    width: 3px;
    &::horizontal {
      height: 5px;
    }
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color:#999;
    border-radius:10px;
    visibility: hidden;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      visibility: visible;
    }
  }
}
.App.bg-light{
  background: $puit_page_background !important;
}
.notifications-tr{
  z-index: 100000 !important;
}

.notification-dismiss {
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
  font-size: 13px !important;
}

a:hover {
  text-decoration: none;
}

.input-inline {
  display: inline-block !important;
}

// @media (max-width: $puit_mobile_threshold) {
//   .container-internal-pages {
//     margin: 10px $puit_page_main_margin_mobile;
//     .container-internal-wrapper{
//       height: calc(100vh - 167px);
//     }
//   }
//   .main-footer {
//     padding: 8px $puit_page_main_margin_mobile;
//   }
//   .top-header-container {
//     .top-header-menu {
//       right: $puit_page_main_margin_mobile;
//     }
//   }
// }